.authPage {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authPage .logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.authPage .formControl div,
.authPage .formControl {
  border-radius: 12px !important;
}
.authPage .formControl div input,
.authPage .formControl div input::placeholder {
  font-size: 16px;
  line-height: 18px;
}
.authPage .formControl label {
  font-size: 14px;
  line-height: 18px;
}
.authPage .cardBox {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 24px;
}
.authPage .cardBox .cardHeader {
  padding-top: 40px;
}
.authPage .cardBox .cardHeader div span {
  text-align: center;
  font-size: 22px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
}

.authPage .cardContent {
  padding-top: 0px;
}
.authPage .cardContent .formControl,
.authPage .cardContent .reminder {
  margin-bottom: 16px;
}
.authPage .cardContent .formControl:has([type="password"]) {
  margin-top: 10px;
  margin-bottom: 28px;
}
.authPage .cardContent .reminder span {
  font-size: 16px;
  line-height: 18px;
}
.authPage .footerText {
  font-size: 14px;
  line-height: 24px;
  margin-block: 16px;
}
.authPage .linkText {
  font-size: 14px;
  line-height: 24px;
  color: #702dff;
}
