.formControl div,
.formControl {
  border-radius: 8px !important;
}
.formControl label {
  font-size: 14px;
  color: #000;
}
.formControl input,
.formControl textarea,
.formControl div {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.formControl fieldset:hover,
.formControl div:hover {
  border-color: #635bff;
}
.formControl .learningFieldBox button {
  padding: 5px;
  min-width: 60px;
}

.formControl .helperText {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #2c2c2c;
}
.formFooter {
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: "16px";
  padding-top: 10px;
}

[data-theme="dark"] .formControl div,
[data-theme="dark"] .formControl fieldset,
[data-theme="dark"] .formControl input,
[data-theme="dark"] .formControl textarea {
  border-color: #fff;
  color: #fff;
}

[data-theme="dark"] .formControl label,
[data-theme="dark"] .formControl p {
  color: #fff;
}

[data-theme="dark"] .formControl svg {
  color: #fff;
}
