.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-block: 8px;
  z-index: 99;
}
.header .logoBox {
  padding-left: 20px;
}
.header .hamburgerMenu {
  color: #635bff;
}
.header .notificationMenu {
  color: #635bff;
}

.header .rightBox {
  display: inline-flex;
  gap: 16px;
  justify-self: flex-end;
}

.header .navLinks {
  position: relative;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: #702dff;
  padding: 5px 6px;
}

.header .navLinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, #702dff, #9c27b0);
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

.header .navLinks:hover::before {
  width: 100%;
  border-radius: 50%;
}
.menuItem div + div + div {
  min-width: 200px;
}
.menuItem div + div + div ul li:last-child {
  display: flex;
  justify-content: center;
}

[data-theme="dark"] .header {
  background-color: #090a0b;
  color: #ffffff;
  border-bottom: 1px solid #32383e;
}
[data-theme="dark"] .header .hamburgerMenu {
  color: #7578ff;
}
[data-theme="dark"] .header .notificationMenu {
  color: #7578ff;
}

[data-theme="dark"] .menuItem div + div + div {
  background-color: #121517;
}
[data-theme="dark"] .menuItem div + div + div ul li {
  color: #fff;
}
