.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-block: 16px;
  z-index: 99;
}
.header .logoBox {
  padding-left: 20px;
}
.header .hamburgerMenu {
  color: #702dff;
}
.header .notificationMenu {
  color: #702dff;
}

.header .rightBox {
  display: inline-flex;
  gap: 16px;
  justify-self: flex-end;
}

.header .navLinks {
  position: relative;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: #702dff;
  padding: 5px 6px;
}

.header .navLinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, #702dff, #9c27b0);
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

.header .navLinks:hover::before {
  width: 100%;
  border-radius: 50%;
}

[data-theme="dark"] .header {
  background-color: rgba(51, 51, 51, 0.5);
  color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 48px 100px 0px;
}
