.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  font-family: var(--font-geist-sans);
  margin-top: 100px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
/* colors */
.primaryColor {
  color: #702dff;
}
.secondaryColor {
  color: rgb(20, 99, 255);
}
.infoColor {
  color: #198754 !important;
}
.orangeColor {
  color: #ff771d !important;
}
.dangerColor {
  color: #dc3545 !important;
}
.bgPrimary300 {
  background-color: rgba(112, 45, 255, 0.3) !important;
}
.bgGreen300 {
  background-color: #e0f8e9 !important;
}
.bgOrange300 {
  background-color: #ffecdf !important;
}
/* colors */
.userMain {
  padding-top: 100px;
  padding-inline: 20px;
}
.mainBody {
  background-color: #fff;
}
.mainBody[data-theme="dark"] {
  background-color: #000;
  color: #ffffff;
}
.pageCollapse {
  margin-left: 260px;
}
.pageExpand {
  margin-left: 20px;
}

.dashBoardSection {
  background-color: #702dff;
  border-radius: 20px;
  background-image: url("/userHeroBannerImage.png");
  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-size: 25% 75%;
  padding-inline: 40px;
  padding-block: 80px;
}
.dashBoardSection .mainContentBox {
  width: 100%;
  max-width: 500px;
}
.dashBoardSection .subHeading {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
  color: #fff;
}
.dashBoardSection .mainHeading {
  font-size: 28px;
  font-weight: 600;
  line-height: auto;
  color: #fff;
  margin-bottom: 16px;
}
.dashBoardSection .mainPara {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.003em;
  margin-bottom: 20px;
  color: #fff;
}
.heroBottomBox {
  background-color: #fff;
  padding-inline: 100px;
  padding-block: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 1033px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: relative;
  bottom: 100px;
}
.heroBottomBox div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
.heroBottomBox .textHeading {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  padding-inline: 10px;
}
.heroBottomBox .textHeading::after {
  content: "";
  width: 2px;
  height: 12px;
  position: absolute;
  top: 7px;
  right: 0px;
  background-color: #ccc;
}
.heroBottomBox .textHeading:last-child:after {
  content: none;
}
.heroBottomBox .imageBox {
  gap: 24px;
}
.productBox {
  margin-bottom: 20px;
  margin-left: 26px;
}

.productBox .mainHeading {
  font-size: 24px;
  font-weight: 600;
  color: #212636;
  margin-bottom: 30px;
}

.productBox .productMainBox {
  box-shadow: 0 3px 8px #0000003d;
  background-color: #fff;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 8px;
}
.productBox .productDesign {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.productBox .filter {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
}
.productBox .productDesign .productHeading {
  font-size: 18px;
  font-weight: 600;
  color: #212636;
  position: relative;
  padding-right: 8px;
  margin-right: 5px;
}
.productBox .productDesign .productHeading::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 2px;
  height: 20px;
  background-color: #899bbd;
}
.productBox .productDesign .productSubHeading {
  font-size: 14px;
  font-weight: 400;
  color: #899bbd;
  position: relative;
  padding-right: 8px;
  margin-right: 5px;
}
.productBox .productSalesBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.productBox .productMainBox .productDescription {
  display: flex;
  flex-direction: column;
}
.productBox .productMainBox .productSalesBox button svg {
  font-size: 36px;
  color: #702dff;
}
.productBox .productMainBox .productDescription h5 {
  font-size: 24px;
  font-weight: 600;
  color: #212636;
}
.productBox .productMainBox .productDescription .productSubDesc {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.productBox .productMainBox .productDescription .productSubDesc strong {
  font-size: 16px;
  font-weight: 600;
}
.productBox .productMainBox .productDescription .productSubDesc span {
  font-size: 14px;
  font-weight: 400;
  color: #6c757d;
}
.productBox .productDesign .productAvatar {
  background-color: rgba(112, 45, 255, 0.3);
}
.productBox .productDesign .productAvatar .icon {
  color: rgba(112, 45, 255, 1);
}

.page .paperMainBox {
  padding-inline: 16px;
  padding-bottom: 8px;
  margin-bottom: 30px;
  box-shadow: none;
}
.paperMainBox .mainHeadingBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.paperMainBox .pageHeading {
  font-size: 32px;
  line-height: auto;
  color: #212636;
  font-weight: 700;
  margin-bottom: 10px;
}

.cardMainBox .cardBox {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px;
  display: block;
  height: 100%;
}
.cardMainBox .cardBox .titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardMainBox .cardBox .statusTitle,
.cardMainBox .cardBox .categoryTitle {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.cardMainBox .cardBox .cardMedia {
  border-radius: 12px;
  background-size: 100% 100%;
  height: 200px;
}
.cardMainBox .cardBox .cardContent .cardSubTitle {
  border-radius: 12px;
  background-color: rgba(112, 45, 255, 0.2);
  color: rgba(112, 45, 255, 1);
  display: inline-block;
  padding-inline: 20px;
  padding-block: 2px;
  font-size: 12px;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.cardMainBox .cardBox .cardContent .cardTitle {
  color: #202020;
  display: block;
  font-size: 14px;
  line-height: auto;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.cardMainBox .cardBox .cardContent .cardDescription {
  color: #202020;
  display: block;
  font-size: 12px;
  line-height: auto;
  font-weight: 400;
}
.viewDetails {
  padding-block: 20px;
}
.viewDetails .viewDetailsBox {
  display: flex;
  gap: 10px;
  padding: 12px;
  border: 1px solid #f4f7fc;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.viewDetails .viewDetailsTitle {
  font-weight: 600;
  color: var(--gray-800);
  margin-bottom: 20px;
}
.viewDetails .backButton {
  margin-bottom: 5px;
  padding: 0;
  min-width: 28px;
}

.viewDetails .viewDetailsLabel {
  font-weight: 600;
  color: var(--gray-800);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 8px;
}
.viewDetails .viewContent {
  font-weight: 500;
  color: var(--gray-500);
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.deleteText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1c1c1c;
  margin-bottom: 8px;
}

.courseMainBox .courseMainHeading {
  font-size: 2rem;
  line-height: normal;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 1rem;
}
.courseMainBox .courseMainPara {
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;
  color: #595c73;
  margin-bottom: 1.2rem;
}
.courseTabBox .courseTabSubBox {
  margin-bottom: 20px;
}
.courseTabBox .courseTabSubBox .courseTabValue {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  color: #702dff;
}
.courseTabBox .courseTabSubBox .courseTabValue[aria-selected="true"] {
  color: #1976d2;
}

[data-theme="dark"] .page .paperMainBox {
  background-color: #000;
}
[data-theme="dark"] .paperMainBox .pageHeading,
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardTitle,
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardDescription {
  color: #fff;
}
[data-theme="dark"] .cardMainBox .cardBox {
  background-color: rgba(51, 51, 51, 1);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardTitle {
  color: #fff;
}
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardSubTitle {
  background-color: rgba(112, 45, 255, 1);
  color: #fff;
}
[data-theme="dark"] .deleteText,
[data-theme="dark"] .cardMainBox .cardBox .statusTitle,
[data-theme="dark"] .cardMainBox .cardBox .categoryTitle,
[data-theme="dark"] .courseMainBox .courseMainHeading,
[data-theme="dark"] .courseMainBox .courseMainPara {
  color: #fff;
}
[data-theme="dark"] .productBox .mainHeading,
[data-theme="dark"] .productBox .productMainBox .productDescription h5 {
  color: #fff;
}
[data-theme="dark"] .productBox .productMainBox {
  background-color: #121517;
}
[data-theme="dark"] .productBox .productDesign .productHeading {
  color: #f0f4f8;
}

[data-theme="dark"] .productBox .productDesign .productSubHeading,
[data-theme="dark"]
  .productBox
  .productMainBox
  .productDescription
  .productSubDesc
  span {
  color: #9fa6ad;
}
[data-theme="dark"] .productBox .filter {
  color: #9fa6ad;
}
