.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  font-family: var(--font-geist-sans);
  margin-top: 100px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
.mainBody {
  background-color: #fff;
}
.mainBody[data-theme="dark"] {
  background-color: #333333;
  color: #ffffff;
}
.pageCollapse {
  margin-left: 290px;
}
.pageExpand {
  margin-left: 20px;
}

.dashBoardSection {
  background-color: #702dff;
  border-radius: 20px;
  padding-block: 20px;
  padding-inline: 24px;
  background-image: url("../../public/star.png");
  background-repeat: no-repeat;
  background-position: right 0%;
  background-size: contain;
  margin-bottom: 24px;
}

.dashBoardSection .subHeading {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
  color: #fff;
}
.dashBoardSection .mainHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  color: #fff;
  width: 100%;
  max-width: 358px;
  margin-bottom: 16px;
}
.productBox {
  margin-bottom: 20px;
}
.productBox .productDesign {
  padding-inline: 40px;
  padding-block: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 40px;
  align-items: center;
  border-radius: 16px;
  justify-content: flex-start;
}
.productBox .productDesign .productAvatar {
  background-color: rgba(112, 45, 255, 0.3);
}
.productBox .productDesign .productAvatar .icon {
  color: rgba(112, 45, 255, 1);
}
.paperMainBox {
  padding-inline: 16px;
  padding-block: 32px !important;
  border-radius: 24px !important;
  margin-bottom: 12px;
}
.paperMainBox .mainHeadingBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.paperMainBox .pageHeading {
  font-size: 32px;
  line-height: auto;
  color: #1a1a1a;
  font-weight: 700;
  margin-bottom: 10px;
}

.cardMainBox .cardBox {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px;
  display: block;
  height: 100%;
}
.cardMainBox .cardBox .titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardMainBox .cardBox .statusTitle,
.cardMainBox .cardBox .categoryTitle {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.cardMainBox .cardBox .cardMedia {
  border-radius: 12px;
}
.cardMainBox .cardBox .cardContent .cardSubTitle {
  border-radius: 12px;
  background-color: rgba(112, 45, 255, 0.2);
  color: rgba(112, 45, 255, 1);
  display: inline-block;
  padding-inline: 20px;
  padding-block: 2px;
  font-size: 12px;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.cardMainBox .cardBox .cardContent .cardTitle {
  color: #202020;
  display: block;
  font-size: 14px;
  line-height: auto;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.cardMainBox .cardBox .cardContent .cardDescription {
  color: #202020;
  display: block;
  font-size: 12px;
  line-height: auto;
  font-weight: 400;
}
.viewDetails {
  padding-block: 20px;
}
.viewDetails .viewDetailsBox {
  display: flex;
  gap: 10px;
  padding: 12px;
  border: 1px solid #f4f7fc;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.viewDetails .viewDetailsTitle {
  font-weight: 600;
  color: var(--gray-800);
  margin-bottom: 20px;
}
.viewDetails .backButton {
  margin-bottom: 5px;
  padding: 0;
  min-width: 28px;
}

.viewDetails .viewDetailsLabel {
  font-weight: 600;
  color: var(--gray-800);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 8px;
}
.viewDetails .viewContent {
  font-weight: 500;
  color: var(--gray-500);
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.deleteText {
  font-size: 16px;
  line-height: 24px;
  color: #1c1c1c;
  margin-bottom: 8px;
}
[data-theme="dark"] .paperMainBox {
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}
[data-theme="dark"] .paperMainBox .pageHeading,
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardTitle,
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardDescription {
  color: #fff;
}
[data-theme="dark"] .cardMainBox .cardBox {
  background-color: rgba(51, 51, 51, 1);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardTitle {
  color: #fff;
}
[data-theme="dark"] .cardMainBox .cardBox .cardContent .cardSubTitle {
  background-color: rgba(112, 45, 255, 1);
  color: #fff;
}
[data-theme="dark"] .deleteText,
[data-theme="dark"] .cardMainBox .cardBox .statusTitle,
[data-theme="dark"] .cardMainBox .cardBox .categoryTitle {
  color: #fff;
}
