.sideBarMain {
  background-color: #fff;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin-bottom: 12px;
  padding-block: 16px;
  display: flex;
  box-shadow: 0 7px 29px #64646f33;
  position: fixed;
  left: 0;
  top: 89px;
  z-index: 9;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.sidebarToggle {
  transform: translateX(0px);
}
.sideBarInActive {
  transform: translateX(-250px);
}
.sideBarMain .sideLogoBox {
  margin-bottom: 40px;
  padding-inline: 36px;
}
.sideBarMain .sideListBox {
  padding-inline: 26px;
}
.sideBarMain .listButton {
  border-radius: 12px;
  margin-bottom: 8px;
}
.sideBarMain .listText span,
.sideBarMain .listButton span {
  font-size: 14px;
  line-height: 18px;
}

[data-theme="dark"] .sideBarMain {
  background-color: rgba(51, 51, 51, 1);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}
[data-theme="dark"] .sideBarMain .listButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
[data-theme="dark"] .sideBarMain .listIcon {
  color: rgba(255, 255, 255, 1);
}
