.sideBarMain {
  background-color: #121621;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin-bottom: 12px;
  padding-block: 16px;
  display: flex;
  box-shadow: 0 7px 29px #64646f33;
  position: fixed;
  left: 0;
  top: 70px;
  z-index: 9;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.sidebarToggle {
  transform: translateX(0px);
}
.sideBarInActive {
  transform: translateX(-250px);
}
.sideBarMain .sideLogoBox {
  margin-bottom: 40px;
  padding-inline: 36px;
}
.sideBarMain .sideListBox {
  padding-inline: 26px;
}
.sideBarMain .listButton {
  border-radius: 12px;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.sideBarMain .listButton svg {
  color: #8a94a6;
}
.sideBarMain .listButton:hover {
  background-color: rgba(255, 255, 255, 0.04);
}
.sideBarMain .listText span,
.sideBarMain .listButton span {
  font-size: 14px;
  line-height: 18px;
  color: #8a94a6;
  font-weight: 500;
}
.sideBarMain .sideBarActive {
  background-color: #635bff !important;
  color: #fff !important;
  position: relative;
}
.sideBarMain .sideBarActive::before {
  background-color: #9fa6ad;
  border-radius: 2px;
  content: " ";
  height: 20px;
  left: -18px;
  position: absolute;
  width: 3px;
}
.sideBarMain .activeListIcon,
.sideBarMain .sideBarActive span {
  color: #fff !important;
}
[data-theme="dark"] .sideBarMain {
  background-color: #202427;
}
[data-theme="dark"] .sideBarMain .listButton:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

[data-theme="dark"] .sideBarMain .listText span,
[data-theme="dark"] .sideBarMain .listButton span {
  color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] .sideBarMain .activeListIcon,
[data-theme="dark"] .sideBarMain .sideBarActive span {
  color: #000 !important;
}
[data-theme="dark"] .sideBarMain .sideBarActive {
  background-color: #7578ff !important;
}
