.buttonContainer .btn {
  font-size: 12px;
  font-weight: 600;
  line-height: auto;
  padding-inline: 12px;
  padding-block: 10px;
  border-radius: 40px;
  text-transform: capitalize;
  min-width: 110px;
  justify-content: center;
}
.buttonContainer .primaryButton {
  background: #702dff;
  box-shadow: #702dff 0 10px 20px -10px;
  color: #ffffff;
}
.buttonContainer .secondaryButton {
  width: 100%;
  background: #702dff;
  box-shadow: #702dff 0 10px 20px -10px;
  color: #ffffff;
}
.buttonContainer .errorButton {
  background: #c21111;
  box-shadow: #dd1212 0 10px 20px -10px;
  color: #ffffff;
}
.buttonContainer .activeButton {
  background: #15bd15;
  box-shadow: #15bd15 0 10px 20px -10px;
  color: #ffffff;
}
.buttonContainer .inActiveButton {
  background: #c85000;
  box-shadow: #c85000 0 10px 20px -10px;
  color: #ffffff;
}
.buttonContainer .infoButton {
  background: #ffffff;
  box-shadow: #ffffff 0 10px 20px -10px;
  color: #702dff;
}
